.khan__buy-link {
  padding: 0;
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  vertical-align: top;
  color: #2f80ed;
  text-decoration: none;
}

.khan__buy-link:hover {
  text-decoration: underline;
}